@model SMS.Web.Areas.Dashboard.ViewModels.RolesListingModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}


<div class="content-wrapper">
    @*<div class="row">
        <div class="col col-lg-12">
            <h2>Roles</h2>
            <hr />
        </div>
    </div>*@
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark"> Roles <span class="badge badge-info right">@Model.Pager.TotalItems</span></h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Roles</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <div class="row mb-3">
        <div class="col col-lg-12">
            <form>
                <div class="input-group">

                    <input type="text" name="searchterm" class="form-control" value="@Model.SearchTerm" placeholder="Search" required>
                    @*<select class="form-control" name="RoleID">
                            @if (Model.Roles != null && Model.Roles.Count > 0)
                            {
                                <option value="0">
                              Select User Role..
                            </option>

                                foreach (var role in Model.Roles)
                                {
                                    <option value="@role.Id" @(role.Id == Model.RoleID ? "Selected" : string.Empty)>
                                        @role.Name
                                    </option>
                                }
                            }

                        </select>*@

                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="submit"><i class="fas fa-search mr-1"></i>Search</button>
                        <a class="btn btn-outline-secondary" href="@Url.Action("Index", "Roles")"><i class="fas fa-redo-alt mr-1"></i>Reset</a>
                        <button data-href="@Url.Action("Action", "Roles")" class="data-btn btn btn-outline-success" type="button" data-toggle="modal" data-target="#accomodatioTypeForm"><i class="fas fa-plus mr-1"></i>Create</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-12" id="listingArea">
            @{Html.RenderPartial("_Listing", Model);}
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="accomodatioTypeForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">

    </div>
</div>

<script>
    $(".data-btn").click(function() {
        $.ajax({
            url:$(this).attr('data-href'),
            type: "GET"
        }).done(function (response) {
            $("#accomodatioTypeForm .modal-dialog").html(response);
        //$('#accomodatioTypeForm').modal('toggle');
        //$("#contentArea").html(response);
    });
    });
</script>